pre.code-block.hljs,
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: var(--size-4);
  max-inline-size: unset;
  border: 1px solid var(--surface-3);
  border-radius: var(--radius-2);

  &.malachite {
    border-color: var(--malachite-2--adaptive);
    box-shadow: 0 0 5px 2px var(--malachite-5);
  }

  &.selective-yellow {
    border-color: var(--selective-yellow-2--adaptive);
    box-shadow: 0 0 5px 2px var(--selective-yellow-5);
  }

  &.celestial-blue {
    border-color: var(--celestial-blue-2--adaptive);
    box-shadow: 0 0 5px 2px var(--celestial-blue-5);
  }

  &.mexican-pink {
    border-color: var(--mexican-pink-2--adaptive);
    box-shadow: 0 0 5px 2px var(--mexican-pink-5);
  }

  &.chartreuse {
    border-color: var(--chartreuse-2--adaptive);
    box-shadow: 0 0 5px 2px var(--chartreuse-5);
  }
}

/*pre.code-block.hljs,*/
code.hljs {
  padding: var(--size-1) var(--size-2);
}

.hljs {
  background: var(--surface-2);
  padding: var(--size-4);
  font-size: var(--font-size-1);
  color: var(--text-2);
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: var(--celestial-blue);
}

.hljs-link {
  color: var(--celestial-blue);
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: var(--malachite-2--adaptive);
}

.hljs-number,
.hljs-class {
  color: var(--chartreuse-2--adaptive)
}

.hljs-string,
.hljs-meta .hljs-string {
  color: var(--selective-yellow-2--adaptive);
}

.hljs-regexp,
.hljs-template-tag {
  color: var(--mexican-pink-2--adaptive);
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  /*color: var(--text-1);*/
  color: var(--text-1);
}

.hljs-comment,
.hljs-quote {
  color: var(--malachite);
  font-style: italic
}

.hljs-doctag {
  color: var(--chartreuse);
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-tag {
  color: var(--mexican-pink-2--adaptive);
  /*color: var(--mexican-pink-2);*/
}

.hljs-variable,
.hljs-template-variable {
  color: var(--mexican-pink);
}

.hljs-attr,
.hljs-attribute {
  color: var(--celestial-blue-2--adaptive);
  /*color: var(--celestial-blue-2);*/
}

.hljs-section {
  color: var(--selective-yellow);
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: var(--font-weight-2);
}

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: var(--selective-yellow-2--adaptive);
}

.hljs-addition {
  background-color: var(--chartreuse-7);
  display: inline-block;
  width: 100%
}

.hljs-deletion {
  background-color: var(--mexican-pink-7);
  display: inline-block;
  width: 100%
}
