<div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    GraphQL Playground
  </h1>
  <hr>
  <h3 class="celestial-blue">Simple</h3>
  <div style="padding: var(--size-4);">
    <pre id="example-1"
         class="graphql-playground malachite"
         data-name="Get Category Tree"
         data-endpoint="http://localhost:31415/graphql">{{> @example.graphql }}</pre>
  </div>
</div>
