

<div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    Blockquote
    <span class="token string" style="font-size: var(--font-size-2)">malachite</span>
  </h1>
  <hr>
  <h2 class="celestial-blue">Standard</h2>

  <blockquote class="malachite">
    <p>There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Full Width</h2>

  <blockquote class="malachite full-width">
    <p>There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Background Pattern</h2>

  <blockquote class="malachite background-pattern">
    <p>There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Full Width and Background Pattern</h2>

  <blockquote class="malachite full-width background-pattern">
    <p>There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

</div>

