

<div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    Blockquote
    <span class="token string" style="font-size: var(--font-size-2)">celestial-blue</span>
  </h1>
  <hr>
  <h2 class="celestial-blue">Standard</h2>

  <blockquote class="celestial-blue">
    <p>If you can&#x27;t explain it to a six year old, you don&#x27;t understand it yourself.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Full Width</h2>

  <blockquote class="celestial-blue full-width">
    <p>If you can&#x27;t explain it to a six year old, you don&#x27;t understand it yourself.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Background Pattern</h2>

  <blockquote class="celestial-blue background-pattern">
    <p>If you can&#x27;t explain it to a six year old, you don&#x27;t understand it yourself.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Full Width and Background Pattern</h2>

  <blockquote class="celestial-blue full-width background-pattern">
    <p>If you can&#x27;t explain it to a six year old, you don&#x27;t understand it yourself.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

</div>

