

<div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    Blockquote
    <span class="token string" style="font-size: var(--font-size-2)">chartreuse</span>
  </h1>
  <hr>
  <h2 class="celestial-blue">Standard</h2>

  <blockquote class="chartreuse">
    <p>I am enough of an artist to draw freely upon my imagination. Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Full Width</h2>

  <blockquote class="chartreuse full-width">
    <p>I am enough of an artist to draw freely upon my imagination. Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Background Pattern</h2>

  <blockquote class="chartreuse background-pattern">
    <p>I am enough of an artist to draw freely upon my imagination. Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Full Width and Background Pattern</h2>

  <blockquote class="chartreuse full-width background-pattern">
    <p>I am enough of an artist to draw freely upon my imagination. Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

</div>

