

<div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    Blockquote
    <span class="token string" style="font-size: var(--font-size-2)">selective-yellow</span>
  </h1>
  <hr>
  <h2 class="celestial-blue">Standard</h2>

  <blockquote class="selective-yellow">
    <p>I speak to everyone in the same way, whether he is the garbage man or the president of the university.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Full Width</h2>

  <blockquote class="selective-yellow full-width">
    <p>I speak to everyone in the same way, whether he is the garbage man or the president of the university.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Background Pattern</h2>

  <blockquote class="selective-yellow background-pattern">
    <p>I speak to everyone in the same way, whether he is the garbage man or the president of the university.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

  <h2 class="celestial-blue">Full Width and Background Pattern</h2>

  <blockquote class="selective-yellow full-width background-pattern">
    <p>I speak to everyone in the same way, whether he is the garbage man or the president of the university.</p>
    <cite>Albert Einstein</cite>
  </blockquote>

</div>

