

<div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    First Graph
    <span class="token string" style="font-size: var(--font-size-2)">malachite</span>
  </h1>
  <hr>
  <article>
    <h2 class="malachite">A DIARY OF YOUR EVERY MOVEMENT</h2>
    <p class="malachite first-graph">
      The companies that collect all this information on your movements justify their business on the basis of three claims: People consent to be tracked, the
      data is anonymous and the data is secure.
    </p>
    <p>
      None of those claims hold up, based on the file we’ve obtained and our review of company practices.
    </p>
    <p class="malachite first-graph circle">
      Yes, the location data contains billions of data points with no identifiable information like names or email addresses. But it’s child’s play to connect
      real names to the dots that appear on the maps.
    </p>
    <p>
      Here’s what that looks like.
    </p>
  </article>
</div>

