

<footer class="rg-footer">
  <nav class="rg-footer-content">
    <section class="rg-footer-section rg-footer-primary-logo">
      <h4 class="rg-footer-heading">
        <a href="https://reactive-graph.io/">
          <img src="../../logo/full/reactive-graph-full-black-white.svg" alt="Reactive Graph"/>
        </a>
      </h4>
    </section>
      <section class="rg-footer-section">
        <h5 class="rg-footer-heading">
          Reactive Graph
        </h5>
        <ul class="rg-footer-list">
            <li>
              <a href="https://reactive-graph.io/">reactive-graph.io</a>
            </li>
            <li>
              <a href="https://reactive-graph.io/releases/">Download</a>
            </li>
        </ul>
      </section>
      <section class="rg-footer-section">
        <h5 class="rg-footer-heading">
          Development
        </h5>
        <ul class="rg-footer-list">
            <li>
              <a href="https://github.com/reactive-graph/reactive-graph">GitHub</a>
            </li>
            <li>
              <a href="https://docs.reactive-graph.io/">API Documentation</a>
            </li>
            <li>
              <a href="https://docs.reactive-graph.io/">Reference Documentation</a>
            </li>
        </ul>
      </section>
      <section class="rg-footer-section">
        <h5 class="rg-footer-heading">
          Inexor Game
        </h5>
        <ul class="rg-footer-list">
            <li>
              <a href="https://inexor.org">inexor.org</a>
            </li>
            <li>
              <a href="https://github.com/inexorgame/inexor-rgf-plugins-game">Inexor Game on GitHub</a>
            </li>
        </ul>
      </section>
      <section class="rg-footer-section">
        <h5 class="rg-footer-heading">
          Graph CMS
        </h5>
        <ul class="rg-footer-list">
            <li>
              <a href="https://graph-cms.io/">graph-cms.io</a>
            </li>
            <li>
              <a href="https://github.com/graph-cms/graph-cms">Graph CMS on GitHub</a>
            </li>
        </ul>
      </section>
      <section class="rg-footer-section">
        <h5 class="rg-footer-heading">
          Smearor
        </h5>
        <ul class="rg-footer-list">
            <li>
              <a href="https://smearor.io/">smearor.io</a>
            </li>
            <li>
              <a href="https://github.com/smearor/smearor">Smearor onGitHub</a>
            </li>
        </ul>
      </section>
  </nav>
</footer>

