

<div style="padding: var(--size-4);">
  <h1 class="mexican-pink">H1 The quick brown fox jumps over the lazy dog</h1>
  <hr class="mexican-pink">
  <h2 class="mexican-pink">H2 The quick brown fox jumps over the lazy dog</h2>
  <hr class="mexican-pink">
  <h3 class="mexican-pink">H3 The quick brown fox jumps over the lazy dog</h3>
  <hr class="mexican-pink">
  <h4 class="mexican-pink">H4 The quick brown fox jumps over the lazy dog</h4>
  <hr class="mexican-pink">
  <h5 class="mexican-pink">H5 The quick brown fox jumps over the lazy dog</h5>
  <hr class="mexican-pink">
  <h6 class="mexican-pink">H6 The quick brown fox jumps over the lazy dog</h6>
</div>

