

<div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    Horizontal Rule
    <span class="token string" style="font-size: var(--font-size-2)">pattern-4--celestial-blue--mexican-pink--fill</span>
  </h1>
  <h3 class="celestial-blue">Default Size</h3>
  <hr class="pattern-4--celestial-blue--mexican-pink--fill">
  <h3 class="celestial-blue">Size <span class="token string" style="font-size: var(--font-size-2)">size-1</span></h3>
  <hr class="pattern-4--celestial-blue--mexican-pink--fill size-1">
  <h3 class="celestial-blue">Size <span class="token string" style="font-size: var(--font-size-2)">size-2</span></h3>
  <hr class="pattern-4--celestial-blue--mexican-pink--fill size-2">
  <h3 class="celestial-blue">Size <span class="token string" style="font-size: var(--font-size-2)">size-3</span></h3>
  <hr class="pattern-4--celestial-blue--mexican-pink--fill size-3">
  <h3 class="celestial-blue">Size <span class="token string" style="font-size: var(--font-size-2)">size-4</span></h3>
  <hr class="pattern-4--celestial-blue--mexican-pink--fill size-4">
</div>

