

<div style="padding: var(--size-4);">
  <h1>KBD</h1>

  <h3 class="celestial-blue">Size Modifiers</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <div>
      <kbd class="mexican-pink ">Default Size</kbd>
    </div>
    <div>
      <kbd class="mexican-pink  size-1">size-1</kbd>
    </div>
    <div>
      <kbd class="mexican-pink  size-2">size-2</kbd>
    </div>
    <div>
      <kbd class="mexican-pink  size-3">size-3</kbd>
    </div>
    <div>
      <kbd class="mexican-pink  size-4">size-4</kbd>
    </div>
  </div>

  <h3 class="celestial-blue">Modifier Keys</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <div>
      <kbd class="mexican-pink">CTRL</kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-arrow-big-up"></i> SHIFT</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">ALT</kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-arrow-big-down"></i> CAPS LOCK</kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-brand-windows"></i> WINDOWS</kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-command"></i> COMMAND</kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-arrows-left-right"></i> TAB</kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-corner-down-left"></i> RETURN</kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-arrow-left"></i> BACKSPACE</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Alpha Keys</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd class="mexican-pink">A</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">S</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">D</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">F</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">G</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">H</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">J</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">K</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">L</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Number Keys</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd class="mexican-pink">0</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">1</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">2</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">3</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">4</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">5</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">6</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">7</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">8</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">9</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Keyboard Shortcuts</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
    <div>
      <kbd class="mexican-pink">CTRL</kbd>
      +
      <kbd class="mexican-pink">K</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">SHIFT</kbd>
      +
      <kbd class="mexican-pink">B</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">ALT</kbd>
      +
      <kbd class="mexican-pink">F5</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">RSHIFT</kbd>
      +
      <kbd class="mexican-pink">O</kbd>
    </div>
    <div>
      <kbd class="mexican-pink">LCTRL</kbd>
      +
      <kbd class="mexican-pink">RSHIFT</kbd>
      +
      <kbd class="mexican-pink">Z</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Arrow Keys</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd class="mexican-pink"><i class="ti ti-arrow-left"></i></kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-arrow-right"></i></kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-arrow-up"></i></kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-arrow-down"></i></kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Keys with Icons</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd class="mexican-pink"><i class="ti ti-brand-github"></i></kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-brand-facebook"></i></kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-brand-youtube"></i></kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-brand-mastodon"></i></kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-brand-debian"></i></kbd>
    </div>
    <div>
      <kbd class="mexican-pink"><i class="ti ti-key"></i></kbd>
    </div>
  </div>

</div>

