

<div style="padding: var(--size-4);">
  <h1 id="nav-button" class="mexican-pink">
    Nav Button
    <span class="token string" style="font-size: var(--font-size-2)">surface-1</span>
  </h1>
  <hr>
  <h3 class="celestial-blue">Caret Circle</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <a href="#nav-button" class="nav-button surface-1">
      <i class="ti ti-caret-left"></i>
    </a>
    <a href="#nav-button" class="nav-button surface-1">
      <i class="ti ti-caret-right"></i>
    </a>
    <a href="#nav-button" class="nav-button surface-1">
      <i class="ti ti-caret-up"></i>
    </a>
    <a href="#nav-button" class="nav-button surface-1">
      <i class="ti ti-caret-down"></i>
    </a>
  </div>
  <h3 class="celestial-blue">Chevrons Circle</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <a href="#nav-button" class="nav-button surface-1">
      <i class="ti ti-chevrons-left"></i>
    </a>
    <a href="#nav-button" class="nav-button surface-1">
      <i class="ti ti-chevrons-right"></i>
    </a>
    <a href="#nav-button" class="nav-button surface-1">
      <i class="ti ti-chevrons-up"></i>
    </a>
    <a href="#nav-button" class="nav-button surface-1">
      <i class="ti ti-chevrons-down"></i>
    </a>
  </div>
  <h3 class="celestial-blue">Caret Square</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <a href="#nav-button" class="nav-button square surface-1">
      <i class="ti ti-caret-left"></i>
    </a>
    <a href="#nav-button" class="nav-button square surface-1">
      <i class="ti ti-caret-right"></i>
    </a>
    <a href="#nav-button" class="nav-button square surface-1">
      <i class="ti ti-caret-up"></i>
    </a>
    <a href="#nav-button" class="nav-button square surface-1">
      <i class="ti ti-caret-down"></i>
    </a>
  </div>
  <h3 class="celestial-blue">Chevrons Square</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <a href="#nav-button" class="nav-button square surface-1">
      <i class="ti ti-chevrons-left"></i>
    </a>
    <a href="#nav-button" class="nav-button square surface-1">
      <i class="ti ti-chevrons-right"></i>
    </a>
    <a href="#nav-button" class="nav-button square surface-1">
      <i class="ti ti-chevrons-up"></i>
    </a>
    <a href="#nav-button" class="nav-button square surface-1">
      <i class="ti ti-chevrons-down"></i>
    </a>
  </div>
</div>

