

<div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    Sticky Slides
    
    
  </h1>
  <hr>
  <h3 class="celestial-blue">Hero Slides</h3>
  <section id="sticky-slide-1" class="sticky-slides ">
    <div class="progress"></div>
    <div class="controls">
      <a class="nav-button size-0 " onclick="document.querySelector('#sticky-slide-1').scrollBy(0, -100)">
        <i class="ti ti-caret-up"></i>
      </a>
      <a class="nav-button size-0 " onclick="document.querySelector('#sticky-slide-1').scrollBy(0, 100)">
        <i class="ti ti-caret-down"></i>
      </a>
    </div>
    <figure>
      <picture>
        <source srcset="/components/raw/sticky-slides/sticky-slides-1.jpg" type="image/jpeg" media="(width: > 100px)"/>
        <img src="/components/raw/sticky-slides/sticky-slides-1.jpg"/>
      </picture>
    </figure>
    <figure>
      <picture>
        <source srcset="/components/raw/sticky-slides/sticky-slides-2.jpg" type="image/jpeg" media="(width: > 100px)"/>
        <img src="/components/raw/sticky-slides/sticky-slides-2.jpg"/>
      </picture>
    </figure>
    <figure>
      <picture>
        <source srcset="/components/raw/sticky-slides/sticky-slides-3.jpg" type="image/jpeg" media="(width: > 100px)"/>
        <img src="/components/raw/sticky-slides/sticky-slides-3.jpg"/>
      </picture>
    </figure>
    <figure>
      <picture>
        <source srcset="/components/raw/sticky-slides/sticky-slides-4.jpg" type="image/jpeg" media="(width: > 100px)"/>
        <img src="/components/raw/sticky-slides/sticky-slides-4.jpg"/>
      </picture>
    </figure>
    <figure>
      <picture>
        <source srcset="/components/raw/sticky-slides/sticky-slides-5.jpg" type="image/jpeg" media="(width: > 100px)"/>
        <img src="/components/raw/sticky-slides/sticky-slides-5.jpg"/>
      </picture>
    </figure>
    <figure>
      <picture>
        <source srcset="/components/raw/sticky-slides/sticky-slides-6.jpg" type="image/jpeg" media="(width: > 100px)"/>
        <img src="/components/raw/sticky-slides/sticky-slides-6.jpg"/>
      </picture>
    </figure>
  </section>
  
    <hr>
    <h3 class="celestial-blue">Independent Hero Slide</h3>
    <section id="sticky-slide-2" class="sticky-slides ">
      <div class="progress"></div>
      <div class="controls">
        <a class="nav-button size-0 " onclick="document.querySelector('#sticky-slide-2').scrollBy(0, -100)">
          <i class="ti ti-chevron-up"></i>
        </a>
        <a class="nav-button size-0 " onclick="document.querySelector('#sticky-slide-2').scrollBy(0, 100)">
          <i class="ti ti-chevron-down"></i>
        </a>
      </div>
      <figure>
        <picture>
          <source srcset="/components/raw/sticky-slides/sticky-slides-1.jpg" type="image/jpeg" media="(width: > 100px)"/>
          <img src="/components/raw/sticky-slides/sticky-slides-1.jpg"/>
        </picture>
      </figure>
      <figure>
        <picture>
          <source srcset="/components/raw/sticky-slides/sticky-slides-2.jpg" type="image/jpeg" media="(width: > 100px)"/>
          <img src="/components/raw/sticky-slides/sticky-slides-2.jpg"/>
        </picture>
      </figure>
      <figure>
        <picture>
          <source srcset="/components/raw/sticky-slides/sticky-slides-3.jpg" type="image/jpeg" media="(width: > 100px)"/>
          <img src="/components/raw/sticky-slides/sticky-slides-3.jpg"/>
        </picture>
      </figure>
      <figure>
        <picture>
          <source srcset="/components/raw/sticky-slides/sticky-slides-4.jpg" type="image/jpeg" media="(width: > 100px)"/>
          <img src="/components/raw/sticky-slides/sticky-slides-4.jpg"/>
        </picture>
      </figure>
      <figure>
        <picture>
          <source srcset="/components/raw/sticky-slides/sticky-slides-5.jpg" type="image/jpeg" media="(width: > 100px)"/>
          <img src="/components/raw/sticky-slides/sticky-slides-5.jpg"/>
        </picture>
      </figure>
      <figure>
        <picture>
          <source srcset="/components/raw/sticky-slides/sticky-slides-6.jpg" type="image/jpeg" media="(width: > 100px)"/>
          <img src="/components/raw/sticky-slides/sticky-slides-6.jpg"/>
        </picture>
      </figure>
    </section>
</div>

