<section class="intro {{#if modifier}}intro--{{modifier}}{{/if}}">
    <div class="container">
        <h2 class="subtitle">{{subtitle}}</h2>
        <h1 class="title">{{title}}</h1>
    </div>
</section>
