<footer class="footer">
    <div class="footer-content">

        <nav class="footer-primary">
            <div class="footer-primary-logo">
                <a href="https://www.mozilla.org/">Mozilla</a>
            </div>
            <div class="footer-sections">

                <section class="footer-section">
                    <h5 class="footer-heading">
                        Topic
                    </h5>
                    <ul class="footer-list">
                        <li>
                            <a href="https://www.mozilla.org/firefox/new/">Link One</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/">Link Two</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/mobile/">Link Three</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/features/">Link Four</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Long link just to mix things up and cause problems.</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Link Six</a>
                        </li>
                    </ul>
                </section>

                <section class="footer-section">
                    <h5 class="footer-heading">
                        Topic
                    </h5>
                    <ul class="footer-list">
                        <li>
                            <a href="https://www.mozilla.org/firefox/new/">Link One</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/">Link Two</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/mobile/">Link Three</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/features/">Link Four</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Long link just to mix things up and cause problems.</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Link Six</a>
                        </li>
                    </ul>
                </section>

                <section class="footer-section">
                    <h5 class="footer-heading">
                        Topic
                    </h5>
                    <ul class="footer-list">
                        <li>
                            <a href="https://www.mozilla.org/firefox/new/">Link One</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/">Link Two</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/mobile/">Link Three</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/features/">Link Four</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Long link just to mix things up and cause problems.</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Link Six</a>
                        </li>
                    </ul>
                </section>

                <section class="footer-section">
                    <h5 class="footer-heading">
                        Topic
                    </h5>
                    <ul class="footer-list">
                        <li>
                            <a href="https://www.mozilla.org/firefox/new/">Link One</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/">Link Two</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/mobile/">Link Three</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/features/">Link Four</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Long link just to mix things up and cause problems.</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Link Six</a>
                        </li>
                    </ul>
                </section>

                <section class="footer-section">
                    <h5 class="footer-heading">
                        Topic
                    </h5>
                    <ul class="footer-list">
                        <li>
                            <a href="https://www.mozilla.org/firefox/new/">Link One</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/">Link Two</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/mobile/">Link Three</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/features/">Link Four</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Long link just to mix things up and cause problems.</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Link Six</a>
                        </li>
                    </ul>
                </section>

                <section class="footer-section">
                    <h5 class="footer-heading">
                        Topic
                    </h5>
                    <ul class="footer-list">
                        <li>
                            <a href="https://www.mozilla.org/firefox/new/">Link One</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/">Link Two</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/mobile/">Link Three</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/features/">Link Four</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Long link just to mix things up and cause problems.</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Link Six</a>
                        </li>
                    </ul>
                </section>

            </div>
        </nav>

        <nav class="footer-secondary">
            <ul class="footer-links-social">
                <li>
                    <a class="twitter" href="https://twitter.com/firefox">Twitter<span> (@firefox)</span></a>
                </li>
                <li>
                    <a class="youtube" href="https://www.youtube.com/firefoxchannel">YouTube<span> (firefoxchannel)</span></a>
                </li>
            </ul>
            <div class="footer-legal">
                <p class="footer-license">
                    Visit Mozilla Corporation’s not-for-profit parent, the <a href="https://foundation.mozilla.org/">Mozilla Foundation</a>.<br>
                    Portions of this content are ©1998–2022 by individual mozilla.org contributors.<br>
                    Content available under a <a rel="license" href="https://www.mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
                </p>
                <ul class="footer-terms">
                    <li><a href="https://www.mozilla.org/privacy/websites/">Website Privacy Notice</a></li>
                    <li><a href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
                    <li><a href="https://www.mozilla.org/about/legal/">Legal</a></li>
                    <li><a href="https://www.mozilla.org/privacy/websites/">Website Privacy Notice</a></li>
                    <li><a href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
                    <li><a href="https://www.mozilla.org/about/legal/">Legal</a></li>
                </ul>
            </div>
        </nav>

    </div>
</footer>