<div style="padding: var(--size-4);">
  <h1 id="code-file-top" class="mexican-pink">Code File</h1>
  <hr>
  <nav class="horizontal-menu pills">
    <ul>
      <li><a href="#diff">Diff</a></li>
      <li><a href="#java">Java</a></li>
      <li><a href="#javascript">JavaScript</a></li>
      <li><a href="#json">JSON</a></li>
      <li><a href="#python">Python</a></li>
      <li><a href="#rust">Rust</a></li>
      <li><a href="#toml">TOML</a></li>
      <li><a href="#typescript">TypeScript</a></li>
      <li><a href="#yaml">YAML</a></li>
    </ul>
  </nav>
  <hr>
  <h3 id="diff" class="celestial-blue full-width">DIFF</h3>
  <div style="padding: var(--size-4);">
    <details>
      <summary>filename.diff</summary>
      <pre class="code-block diff celestial-blue">{{> @example.diff }}</pre>
    </details>
  </div>
  <hr>
  <h3 id="java" class="celestial-blue full-width">Java</h3>
  <div style="padding: var(--size-4);">
    <details class="malachite">
      <summary>filename.java</summary>
      <pre class="code-block java">{{> @example.java }}</pre>
    </details>
  </div>
  <hr>
  <h3 id="javascript" class="celestial-blue full-width">JavaScript</h3>
  <div style="padding: var(--size-4);">
    <details class="selective-yellow">
      <summary>filename.js</summary>
      <pre class="code-block javascript">{{> @example.js }}</pre>
    </details>
  </div>
  <hr>
  <h3 id="json" class="celestial-blue full-width">JSON</h3>
  <div style="padding: var(--size-4);">
    <details class="celestial-blue">
      <summary>filename.json</summary>
      <pre class="code-block json">{{> @example.json }}</pre>
    </details>
  </div>
  <hr>
  <h3 id="python" class="celestial-blue full-width">DIFF</h3>
  <div style="padding: var(--size-4);">
    <details class="mexican-pink">
      <summary>filename.py</summary>
      <pre class="code-block python">{{> @example.py }}</pre>
    </details>
  </div>
  <hr>
  <h3 id="rust" class="celestial-blue full-width">Rust</h3>
  <div style="padding: var(--size-4);">
    <details class="chartreuse">
      <summary>filename.rs</summary>
      <pre class="code-block rust">{{> @example.rs }}</pre>
    </details>
  </div>
  <hr>
  <h3 id="toml" class="celestial-blue full-width">TOML</h3>
  <div style="padding: var(--size-4);">
    <details>
      <summary>filename.toml</summary>
      <pre class="code-block toml">{{> @example.toml }}</pre>
    </details>
  </div>
  <hr>
  <h3 id="typescript" class="celestial-blue full-width">TypeScript</h3>
  <div style="padding: var(--size-4);">
    <details>
      <summary>filename.ts</summary>
      <pre class="code-block typescript">{{> @example.ts }}</pre>
    </details>
  </div>
  <hr>
  <h3 id="yaml" class="celestial-blue full-width">YAML</h3>
  <div style="padding: var(--size-4);">
    <details>
      <summary>filename.yaml</summary>
      <pre class="code-block yaml">{{> @example.yaml }}</pre>
    </details>
  </div>
</div>
