

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../../favicon/favicon.svg">
  <link rel="icon" type="image/png" href="../../favicon/favicon.png">
  <link rel="stylesheet" href="../../css/reactive-graph.css">
  <title>Preview</title>
  <link rel="preload" href="../../reactive-graph-design_bg.wasm" crossorigin="anonymous" as="fetch" type="application/wasm">
  <link rel="modulepreload" href="../../reactive-graph-design.js" crossorigin="anonymous">
</head>
<body>
<main>
  <div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    Avatar
    <span class="token string" style="font-size: var(--font-size-2)">surface-2</span>
  </h1>
  <hr>
  <h3 class="celestial-blue">Avatar with Image</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <div>
      <img src="/components/raw/avatar/avatar-m.png" alt="avatar" class="surface-2 avatar"/>
    </div>
    <div>
      <img src="/components/raw/avatar/avatar-f.png" alt="avatar" class="surface-2 avatar"/>
    </div>
    <div>
      <img src="/components/raw/avatar/avatar-m.png" alt="avatar" class="surface-2 avatar square"/>
    </div>
    <div>
      <img src="/components/raw/avatar/avatar-f.png" alt="avatar" class="surface-2 avatar square"/>
    </div>
  </div>
  <hr>
  <h3 class="celestial-blue">Avatar with Icon</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <div>
      <i class="ti ti-user surface-2 avatar"></i>
    </div>
    <div>
      <i class="ti ti-user-filled surface-2 avatar"></i>
    </div>
    <div>
      <i class="ti ti-chess-queen surface-2 avatar"></i>
    </div>
    <div>
      <i class="ti ti-user surface-2 avatar square"></i>
    </div>
    <div>
      <i class="ti ti-user-filled surface-2 avatar square"></i>
    </div>
    <div>
      <i class="ti ti-chess-king surface-2 avatar square"></i>
    </div>
  </div>
  <hr>
  <h3 class="celestial-blue">Avatar with Text</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <div>
      <span class="surface-2 avatar">
        AB
      </span>
    </div>
    <div>
      <span class="surface-2 avatar square">
        CD
      </span>
    </div>
  </div>
</div>

</main>
<script type="module">
  import init, * as bindings from "../../reactive-graph-design.js";
  init("../../reactive-graph-design_bg.wasm");
  window.wasmBindings = bindings;
</script>
</body>
</html>

