

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../../favicon/favicon.svg">
  <link rel="icon" type="image/png" href="../../favicon/favicon.png">
  <link rel="stylesheet" href="../../css/reactive-graph.css">
  <title>Preview</title>
</head>
<body>
<main>
  <blockquote class="malachite">
    <p>There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.</p>
    <cite>Albert Einstein</cite>
</blockquote>

</main>
</body>
</html>

