

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../../favicon/favicon.svg">
    <link rel="icon" type="image/png" href="../../favicon/favicon.png">
    <link rel="stylesheet" href="../../css/open-props.min.css">
    <link rel="stylesheet" href="../../css/open-props-normalize.min.css">
    <link rel="stylesheet" href="../../css/reactive-graph.css">
    <link rel="stylesheet" href="../../fonts/fonts.css">
    <title>Preview</title>
</head>
<body>
    <main>
        <section class="rg-emphasis-box mexican-pink">
  <h3>We’re building a better Application!</h3>
  <p>Our mission is to ensure the Internet is a global public resource, open and accessible to all. An Internet that truly puts people first, where individuals can shape their own experience and are empowered, safe and independent.</p>
  <p>At Mozilla, we’re a global community of technologists, thinkers and builders working together to keep the Internet alive and accessible, so people worldwide can be informed contributors and creators of the Web. We believe this act of human collaboration across an open platform is essential to individual growth and our collective future.</p>
  
</section>

    </main>
<!--<script src="../../js/main.js"></script>-->
</body>
</html>

