

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../../favicon/favicon.svg">
  <link rel="icon" type="image/png" href="../../favicon/favicon.png">
  <link rel="stylesheet" href="../../css/reactive-graph.css">
  <title>Preview</title>
  <link rel="preload" href="../../reactive-graph-design_bg.wasm" crossorigin="anonymous" as="fetch" type="application/wasm">
  <link rel="modulepreload" href="../../reactive-graph-design.js" crossorigin="anonymous">
</head>
<body>
<main>
  <section class="rg-intro rg-intro--celestial-blue">
    <div class="container">
      <h2 class="subtitle">Subtitle Subtitle</h2>

      <h1 class="title">Title Title</h1>

    </div>
</section>

</main>
<script type="module">
  import init, * as bindings from "../../reactive-graph-design.js";
  init("../../reactive-graph-design_bg.wasm");
  window.wasmBindings = bindings;
</script>
</body>
</html>

