

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../../favicon/favicon.svg">
  <link rel="icon" type="image/png" href="../../favicon/favicon.png">
  <link rel="stylesheet" href="../../css/reactive-graph.css">
  <title>Preview</title>
  <link rel="preload" href="../../reactive-graph-design_bg.wasm" crossorigin="anonymous" as="fetch" type="application/wasm">
  <link rel="modulepreload" href="../../reactive-graph-design.js" crossorigin="anonymous">
</head>
<body>
<main>
  <div style="padding: var(--size-4);">
  <h1>KBD</h1>

  <h3 class="celestial-blue">Size Modifiers</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <div>
      <kbd class="malachite ">Default Size</kbd>
    </div>
    <div>
      <kbd class="malachite  size-1">size-1</kbd>
    </div>
    <div>
      <kbd class="malachite  size-2">size-2</kbd>
    </div>
    <div>
      <kbd class="malachite  size-3">size-3</kbd>
    </div>
    <div>
      <kbd class="malachite  size-4">size-4</kbd>
    </div>
  </div>

  <h3 class="celestial-blue">Modifier Keys</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <div>
      <kbd class="malachite">CTRL</kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-arrow-big-up"></i> SHIFT</kbd>
    </div>
    <div>
      <kbd class="malachite">ALT</kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-arrow-big-down"></i> CAPS LOCK</kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-brand-windows"></i> WINDOWS</kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-command"></i> COMMAND</kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-arrows-left-right"></i> TAB</kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-corner-down-left"></i> RETURN</kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-arrow-left"></i> BACKSPACE</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Alpha Keys</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd class="malachite">A</kbd>
    </div>
    <div>
      <kbd class="malachite">S</kbd>
    </div>
    <div>
      <kbd class="malachite">D</kbd>
    </div>
    <div>
      <kbd class="malachite">F</kbd>
    </div>
    <div>
      <kbd class="malachite">G</kbd>
    </div>
    <div>
      <kbd class="malachite">H</kbd>
    </div>
    <div>
      <kbd class="malachite">J</kbd>
    </div>
    <div>
      <kbd class="malachite">K</kbd>
    </div>
    <div>
      <kbd class="malachite">L</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Number Keys</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd class="malachite">0</kbd>
    </div>
    <div>
      <kbd class="malachite">1</kbd>
    </div>
    <div>
      <kbd class="malachite">2</kbd>
    </div>
    <div>
      <kbd class="malachite">3</kbd>
    </div>
    <div>
      <kbd class="malachite">4</kbd>
    </div>
    <div>
      <kbd class="malachite">5</kbd>
    </div>
    <div>
      <kbd class="malachite">6</kbd>
    </div>
    <div>
      <kbd class="malachite">7</kbd>
    </div>
    <div>
      <kbd class="malachite">8</kbd>
    </div>
    <div>
      <kbd class="malachite">9</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Keyboard Shortcuts</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
    <div>
      <kbd class="malachite">CTRL</kbd>
      +
      <kbd class="malachite">K</kbd>
    </div>
    <div>
      <kbd class="malachite">SHIFT</kbd>
      +
      <kbd class="malachite">B</kbd>
    </div>
    <div>
      <kbd class="malachite">ALT</kbd>
      +
      <kbd class="malachite">F5</kbd>
    </div>
    <div>
      <kbd class="malachite">RSHIFT</kbd>
      +
      <kbd class="malachite">O</kbd>
    </div>
    <div>
      <kbd class="malachite">LCTRL</kbd>
      +
      <kbd class="malachite">RSHIFT</kbd>
      +
      <kbd class="malachite">Z</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Arrow Keys</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd class="malachite"><i class="ti ti-arrow-left"></i></kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-arrow-right"></i></kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-arrow-up"></i></kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-arrow-down"></i></kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Keys with Icons</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd class="malachite"><i class="ti ti-brand-github"></i></kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-brand-facebook"></i></kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-brand-youtube"></i></kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-brand-mastodon"></i></kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-brand-debian"></i></kbd>
    </div>
    <div>
      <kbd class="malachite"><i class="ti ti-key"></i></kbd>
    </div>
  </div>

</div>

</main>
<script type="module">
  import init, * as bindings from "../../reactive-graph-design.js";
  init("../../reactive-graph-design_bg.wasm");
  window.wasmBindings = bindings;
</script>
</body>
</html>

