

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../../favicon/favicon.svg">
    <link rel="icon" type="image/png" href="../../favicon/favicon.png">
    <link rel="stylesheet" href="../../css/open-props.min.css">
    <link rel="stylesheet" href="../../css/open-props-normalize.min.css">
    <link rel="stylesheet" href="../../css/reactive-graph.css">
    <link rel="stylesheet" href="../../fonts/fonts.css">
    <title>Preview</title>
    <style>
        main {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            place-content: center;
            justify-content: space-around;
            gap: var(--size-3);
            padding: var(--size-3);
        }
    </style>
</head>
<body>
    <main>
      <div class="rg-logo-grid">
  <div class="rg-logo-container">
    <img src="../../logo/outer/reactive-graph-outer-black.svg" class="rg-logo-outer-black rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inverse/reactive-graph-inverse-selective-yellow.svg" class="rg-logo-inverse-selective-yellow rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inner/reactive-graph-inner-mexican-pink.svg" class="rg-logo-inner-mexican-pink rg-logo-shape" alt="Reactive Graph">
  </div>
</div>

      <div class="rg-logo-grid">
  <div class="rg-logo-container">
    <img src="../../logo/outer/reactive-graph-outer-black.svg" class="rg-logo-outer-black rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inverse/reactive-graph-inverse-selective-yellow.svg" class="rg-logo-inverse-selective-yellow rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inner/reactive-graph-inner-mexican-pink.svg" class="rg-logo-inner-mexican-pink rg-logo-shape" alt="Reactive Graph">
  </div>
</div>

      <div class="rg-logo-grid">
  <div class="rg-logo-container">
    <img src="../../logo/outer/reactive-graph-outer-black.svg" class="rg-logo-outer-black rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inverse/reactive-graph-inverse-selective-yellow.svg" class="rg-logo-inverse-selective-yellow rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inner/reactive-graph-inner-mexican-pink.svg" class="rg-logo-inner-mexican-pink rg-logo-shape" alt="Reactive Graph">
  </div>
</div>

      <div class="rg-logo-grid">
  <div class="rg-logo-container">
    <img src="../../logo/outer/reactive-graph-outer-black.svg" class="rg-logo-outer-black rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inverse/reactive-graph-inverse-selective-yellow.svg" class="rg-logo-inverse-selective-yellow rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inner/reactive-graph-inner-mexican-pink.svg" class="rg-logo-inner-mexican-pink rg-logo-shape" alt="Reactive Graph">
  </div>
</div>

      <div class="rg-logo-grid">
  <div class="rg-logo-container">
    <img src="../../logo/outer/reactive-graph-outer-black.svg" class="rg-logo-outer-black rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inverse/reactive-graph-inverse-selective-yellow.svg" class="rg-logo-inverse-selective-yellow rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inner/reactive-graph-inner-mexican-pink.svg" class="rg-logo-inner-mexican-pink rg-logo-shape" alt="Reactive Graph">
  </div>
</div>

      <div class="rg-logo-grid">
  <div class="rg-logo-container">
    <img src="../../logo/outer/reactive-graph-outer-black.svg" class="rg-logo-outer-black rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inverse/reactive-graph-inverse-selective-yellow.svg" class="rg-logo-inverse-selective-yellow rg-logo-shape" alt="Reactive Graph">
    <img src="../../logo/inner/reactive-graph-inner-mexican-pink.svg" class="rg-logo-inner-mexican-pink rg-logo-shape" alt="Reactive Graph">
  </div>
</div>

    </main>
</body>
</html>

