

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../../favicon/favicon.svg">
  <link rel="icon" type="image/png" href="../../favicon/favicon.png">
  <link rel="stylesheet" href="../../css/reactive-graph.css">
  <title>Preview</title>
  <link rel="preload" href="../../reactive-graph-design_bg.wasm" crossorigin="anonymous" as="fetch" type="application/wasm">
  <link rel="modulepreload" href="../../reactive-graph-design.js" crossorigin="anonymous">
</head>
<body>
<main>
  <div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    Sticky Slides
    <span class="token string" style="font-size: var(--font-size-2)">celestial-blue</span>
    <span class="token string" style="font-size: var(--font-size-2)">fixed</span>
  </h1>
  <hr>
  <h3 class="celestial-blue">Hero Slides</h3>
  <section id="sticky-slide-1" class="sticky-slides  celestial-blue fixed height-75">
    <div class="progress"></div>
    <div class="controls">
      <a class="nav-button size-0 celestial-blue" onclick="document.querySelector('#sticky-slide-1').scrollBy(0, -100)">
        <i class="ti ti-caret-up"></i>
      </a>
      <a class="nav-button size-0 celestial-blue" onclick="document.querySelector('#sticky-slide-1').scrollBy(0, 100)">
        <i class="ti ti-caret-down"></i>
      </a>
    </div>
    <figure>
      <picture>
        <source srcset="/components/raw/sticky-slides/sticky-slides-1.jpg" type="image/jpeg" media="(width: > 100px)"/>
        <img src="/components/raw/sticky-slides/sticky-slides-1.jpg"/>
      </picture>
    </figure>
    <figure>
      <div class="slide text">
        <h3 class="celestial-blue">One Nation, Tracked <span class="token rg-entity-type">Text Aligned Left</span></h3>
        <article>
          <p class="first-graph">
            But a number of companies do sell the detailed data. Buyers are typically data brokers and advertising companies. But some of them have little to
            do
            with consumer advertising, including financial institutions, geospatial analysis companies and real estate investment firms that can process and
            analyze
            such large quantities of information. They might pay more than $1 million for a tranche of data, according to a former location data company
            employee
            who agreed to speak anonymously.
          </p>
          <p>
            Location data is also collected and shared alongside a mobile advertising ID, a supposedly anonymous identifier about 30 digits long that allows
            advertisers and other businesses to tie activity together across apps. The ID is also used to combine location trails with other information like
            your
            name, home address, email, phone number or even an identifier tied to your Wi-Fi network.
          </p>
          <p class="first-graph">
            The data can change hands in almost real time, so fast that your location could be transferred from your smartphone to the app’s servers and
            exported
            to
            third parties in milliseconds. This is how, for example, you might see an ad for a new car some time after walking through a dealership.
          </p>
          <p>
            That data can then be resold, copied, pirated and abused. There’s no way you can ever retrieve it.
          </p>
          <p>
            Location data is about far more than consumers seeing a few more relevant ads. This information provides critical intelligence for big businesses.
            The
            Weather Channel app’s parent company, for example, analyzed users’ location data for hedge funds, according to a lawsuit filed in Los Angeles this
            year
            that was triggered by Times reporting. And Foursquare received much attention in 2016 after using its data trove to predict that after an E. coli
            crisis, Chipotle’s sales would drop by 30 percent in the coming months. Its same-store sales ultimately fell 29.7 percent.
          </p>
        </article>
      </div>
      <picture>
        <source srcset="/components/raw/sticky-slides/sticky-slides-3.jpg" type="image/jpeg" media="(width: > 100px)"/>
        <img src="/components/raw/sticky-slides/sticky-slides-3.jpg"/>
      </picture>
    </figure>
    <figure>
      <picture>
        <source srcset="/components/raw/sticky-slides/sticky-slides-4.jpg" type="image/jpeg" media="(width: > 100px)"/>
        <img src="/components/raw/sticky-slides/sticky-slides-4.jpg"/>
      </picture>
      <div class="slide text">
        <h3 class="celestial-blue">One Nation, Tracked <span class="token rg-entity-type">Text Aligned Right</span></h3>
        <article>
          <p class="first-graph">
            But a number of companies do sell the detailed data. Buyers are typically data brokers and advertising companies. But some of them have little to
            do
            with consumer advertising, including financial institutions, geospatial analysis companies and real estate investment firms that can process and
            analyze
            such large quantities of information. They might pay more than $1 million for a tranche of data, according to a former location data company
            employee
            who agreed to speak anonymously.
          </p>
          <p>
            Location data is also collected and shared alongside a mobile advertising ID, a supposedly anonymous identifier about 30 digits long that allows
            advertisers and other businesses to tie activity together across apps. The ID is also used to combine location trails with other information like
            your
            name, home address, email, phone number or even an identifier tied to your Wi-Fi network.
          </p>
          <p class="first-graph">
            The data can change hands in almost real time, so fast that your location could be transferred from your smartphone to the app’s servers and
            exported
            to
            third parties in milliseconds. This is how, for example, you might see an ad for a new car some time after walking through a dealership.
          </p>
          <p>
            That data can then be resold, copied, pirated and abused. There’s no way you can ever retrieve it.
          </p>
          <p>
            Location data is about far more than consumers seeing a few more relevant ads. This information provides critical intelligence for big businesses.
            The
            Weather Channel app’s parent company, for example, analyzed users’ location data for hedge funds, according to a lawsuit filed in Los Angeles this
            year
            that was triggered by Times reporting. And Foursquare received much attention in 2016 after using its data trove to predict that after an E. coli
            crisis, Chipotle’s sales would drop by 30 percent in the coming months. Its same-store sales ultimately fell 29.7 percent.
          </p>
        </article>
      </div>
    </figure>
    <figure>
      <div class="slide text">
        <h3 class="celestial-blue">One Nation, Tracked <span class="token rg-entity-type">Text Only</span></h3>
        <article>
          <p class="first-graph">
            But a number of companies do sell the detailed data. Buyers are typically data brokers and advertising companies. But some of them have little to do
            with consumer advertising, including financial institutions, geospatial analysis companies and real estate investment firms that can process and
            analyze
            such large quantities of information. They might pay more than $1 million for a tranche of data, according to a former location data company
            employee
            who agreed to speak anonymously.
          </p>
          <p>
            Location data is also collected and shared alongside a mobile advertising ID, a supposedly anonymous identifier about 30 digits long that allows
            advertisers and other businesses to tie activity together across apps. The ID is also used to combine location trails with other information like
            your
            name, home address, email, phone number or even an identifier tied to your Wi-Fi network.
          </p>
          <p class="first-graph">
            The data can change hands in almost real time, so fast that your location could be transferred from your smartphone to the app’s servers and
            exported
            to
            third parties in milliseconds. This is how, for example, you might see an ad for a new car some time after walking through a dealership.
          </p>
          <p>
            That data can then be resold, copied, pirated and abused. There’s no way you can ever retrieve it.
          </p>
          <p>
            Location data is about far more than consumers seeing a few more relevant ads. This information provides critical intelligence for big businesses.
            The
            Weather Channel app’s parent company, for example, analyzed users’ location data for hedge funds, according to a lawsuit filed in Los Angeles this
            year
            that was triggered by Times reporting. And Foursquare received much attention in 2016 after using its data trove to predict that after an E. coli
            crisis, Chipotle’s sales would drop by 30 percent in the coming months. Its same-store sales ultimately fell 29.7 percent.
          </p>
        </article>
      </div>
    </figure>
    <figure>
      <div class="slide text overlay surface-1">
        <picture>
          <source srcset="/components/raw/sticky-slides/sticky-slides-5.jpg" type="image/jpeg" media="(width: > 100px)"/>
          <img src="/components/raw/sticky-slides/sticky-slides-5.jpg"/>
        </picture>
        <article>
          <h3 class="celestial-blue">
            One Nation, Tracked
          </h3>
          <h4>
            Text Overlay Image <code>surface-1</code>
          </h4>
          <p class="first-graph">
            But a number of companies do sell the detailed data. Buyers are typically data brokers and advertising companies. But some of them have little to
            do
            with consumer advertising, including financial institutions, geospatial analysis companies and real estate investment firms that can process and
            analyze
            such large quantities of information. They might pay more than $1 million for a tranche of data, according to a former location data company
            employee
            who agreed to speak anonymously.
          </p>
          <p>
            Location data is also collected and shared alongside a mobile advertising ID, a supposedly anonymous identifier about 30 digits long that allows
            advertisers and other businesses to tie activity together across apps. The ID is also used to combine location trails with other information like
            your
            name, home address, email, phone number or even an identifier tied to your Wi-Fi network.
          </p>
          <p class="first-graph">
            The data can change hands in almost real time, so fast that your location could be transferred from your smartphone to the app’s servers and
            exported
            to
            third parties in milliseconds. This is how, for example, you might see an ad for a new car some time after walking through a dealership.
          </p>
          <p>
            That data can then be resold, copied, pirated and abused. There’s no way you can ever retrieve it.
          </p>
          <p>
            Location data is about far more than consumers seeing a few more relevant ads. This information provides critical intelligence for big businesses.
            The
            Weather Channel app’s parent company, for example, analyzed users’ location data for hedge funds, according to a lawsuit filed in Los Angeles this
            year
            that was triggered by Times reporting. And Foursquare received much attention in 2016 after using its data trove to predict that after an E. coli
            crisis, Chipotle’s sales would drop by 30 percent in the coming months. Its same-store sales ultimately fell 29.7 percent.
          </p>
        </article>
      </div>
    </figure>
    <figure>
      <div class="slide text overlay surface-opaque-3">
        <picture>
          <source srcset="/components/raw/sticky-slides/sticky-slides-2.jpg" type="image/jpeg" media="(width: > 100px)"/>
          <img src="/components/raw/sticky-slides/sticky-slides-2.jpg"/>
        </picture>
        <article>
          <h3 class="celestial-blue">
            One Nation, Tracked
          </h3>
          <h4>
            Text Overlay Image <code>surface-opaque-3</code>
          </h4>
          <p class="first-graph">
            But a number of companies do sell the detailed data. Buyers are typically data brokers and advertising companies. But some of them have little to
            do
            with consumer advertising, including financial institutions, geospatial analysis companies and real estate investment firms that can process and
            analyze
            such large quantities of information. They might pay more than $1 million for a tranche of data, according to a former location data company
            employee
            who agreed to speak anonymously.
          </p>
          <p>
            Location data is also collected and shared alongside a mobile advertising ID, a supposedly anonymous identifier about 30 digits long that allows
            advertisers and other businesses to tie activity together across apps. The ID is also used to combine location trails with other information like
            your
            name, home address, email, phone number or even an identifier tied to your Wi-Fi network.
          </p>
          <p class="first-graph">
            The data can change hands in almost real time, so fast that your location could be transferred from your smartphone to the app’s servers and
            exported
            to
            third parties in milliseconds. This is how, for example, you might see an ad for a new car some time after walking through a dealership.
          </p>
          <p>
            That data can then be resold, copied, pirated and abused. There’s no way you can ever retrieve it.
          </p>
          <p>
            Location data is about far more than consumers seeing a few more relevant ads. This information provides critical intelligence for big businesses.
            The
            Weather Channel app’s parent company, for example, analyzed users’ location data for hedge funds, according to a lawsuit filed in Los Angeles this
            year
            that was triggered by Times reporting. And Foursquare received much attention in 2016 after using its data trove to predict that after an E. coli
            crisis, Chipotle’s sales would drop by 30 percent in the coming months. Its same-store sales ultimately fell 29.7 percent.
          </p>
        </article>
      </div>
    </figure>
    <figure>
      <div class="slide text overlay surface-opaque-7">
        <picture>
          <source srcset="/components/raw/sticky-slides/sticky-slides-6.jpg" type="image/jpeg" media="(width: > 100px)"/>
          <img src="/components/raw/sticky-slides/sticky-slides-6.jpg"/>
        </picture>
        <h2 class="celestial-blue">One Nation, Tracked <span class="token rg-entity-type">Overlay Heading</span></h2>
      </div>
    </figure>
  </section>
  </div>

</main>
<script type="module">
  import init, * as bindings from "../../reactive-graph-design.js";
  init("../../reactive-graph-design_bg.wasm");
  window.wasmBindings = bindings;
</script>
</body>
</html>

