

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../../favicon/favicon.svg">
  <link rel="icon" type="image/png" href="../../favicon/favicon.png">
  <link rel="stylesheet" href="../../css/reactive-graph.css">
  <title>Preview</title>
  <link rel="preload" href="../../reactive-graph-design_bg.wasm" crossorigin="anonymous" as="fetch" type="application/wasm">
  <link rel="modulepreload" href="../../reactive-graph-design.js" crossorigin="anonymous">
</head>
<body>
<main>
  <div style="padding: var(--size-4);">
  <h1 class="mexican-pink">
    Story Button
    <span class="token string" style="font-size: var(--font-size-2)">surface-4</span>
  </h1>
  <hr>
  <h3 id="story" class="celestial-blue">Circle</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(var(--size-11), 1fr));">
    <div>
      <a href="#story" title="Story 1">
        <img src="/components/raw/story-button/story-1.jpg" alt="Story 1" class="surface-4 story-button"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 2">
        <img src="/components/raw/story-button/story-2.jpg" alt="Story 2" class="surface-4 story-button"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 3">
        <img src="/components/raw/story-button/story-3.jpg" alt="Story 3" class="surface-4 story-button"/>
      </a>
    </div>
  </div>
  <hr>
  <h3 id="story" class="celestial-blue">Square</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(var(--size-11), 1fr));">
    <div>
      <a href="#story" title="Story 1">
        <img src="/components/raw/story-button/story-1.jpg" alt="Story 1" class="surface-4 story-button square"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 2">
        <img src="/components/raw/story-button/story-2.jpg" alt="Story 2" class="surface-4 story-button square"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 3">
        <img src="/components/raw/story-button/story-3.jpg" alt="Story 3" class="surface-4 story-button square"/>
      </a>
    </div>
  </div>
  <hr>
  <h3 id="story" class="celestial-blue">Size 1</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(var(--size-12), 1fr));">
    <div>
      <a href="#story" title="Story 1">
        <img src="/components/raw/story-button/story-1.jpg" alt="Story 1" class="surface-4 story-button square size-1"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 2">
        <img src="/components/raw/story-button/story-2.jpg" alt="Story 2" class="surface-4 story-button square size-1"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 3">
        <img src="/components/raw/story-button/story-3.jpg" alt="Story 3" class="surface-4 story-button square size-1"/>
      </a>
    </div>
  </div>
  <hr>
  <h3 id="story" class="celestial-blue">Size 2</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(var(--size-13), 1fr));">
    <div>
      <a href="#story" title="Story 1">
        <img src="/components/raw/story-button/story-1.jpg" alt="Story 1" class="surface-4 story-button square size-2"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 2">
        <img src="/components/raw/story-button/story-2.jpg" alt="Story 2" class="surface-4 story-button square size-2"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 3">
        <img src="/components/raw/story-button/story-3.jpg" alt="Story 3" class="surface-4 story-button square size-2"/>
      </a>
    </div>
  </div>
  <hr>
  <h3 id="story" class="celestial-blue">Size 3</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(var(--size-14), 1fr));">
    <div>
      <a href="#story" title="Story 1">
        <img src="/components/raw/story-button/story-1.jpg" alt="Story 1" class="surface-4 story-button square size-3"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 2">
        <img src="/components/raw/story-button/story-2.jpg" alt="Story 2" class="surface-4 story-button square size-3"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 3">
        <img src="/components/raw/story-button/story-3.jpg" alt="Story 3" class="surface-4 story-button square size-3"/>
      </a>
    </div>
  </div>
  <hr>
  <h3 id="story" class="celestial-blue">Size 4</h3>
  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(var(--size-15), 1fr));">
    <div>
      <a href="#story" title="Story 1">
        <img src="/components/raw/story-button/story-1.jpg" alt="Story 1" class="surface-4 story-button square size-4"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 2">
        <img src="/components/raw/story-button/story-2.jpg" alt="Story 2" class="surface-4 story-button square size-4"/>
      </a>
    </div>
    <div>
      <a href="#story" title="Story 3">
        <img src="/components/raw/story-button/story-3.jpg" alt="Story 3" class="surface-4 story-button square size-4"/>
      </a>
    </div>
  </div>
</div>

</main>
<script type="module">
  import init, * as bindings from "../../reactive-graph-design.js";
  init("../../reactive-graph-design_bg.wasm");
  window.wasmBindings = bindings;
</script>
</body>
</html>

