

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../../favicon/favicon.svg">
  <link rel="icon" type="image/png" href="../../favicon/favicon.png">
  <link rel="stylesheet" href="../../css/reactive-graph.css">
  <title>Preview</title>
  <link rel="preload" href="../../reactive-graph-design_bg.wasm" crossorigin="anonymous" as="fetch" type="application/wasm">
  <link rel="modulepreload" href="../../reactive-graph-design.js" crossorigin="anonymous">
</head>
<body>
<main>
  <table>
  <caption>Table Caption</caption>
  <thead>
  <tr>
    <th>Table Heading 1</th>
    <th>Table Heading 2</th>
    <th>Table Heading 3</th>
    <th>Table Heading 4</th>
    <th>Table Heading 5</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>Table Footer 1</th>
    <th>Table Footer 2</th>
    <th>Table Footer 3</th>
    <th>Table Footer 4</th>
    <th>Table Footer 5</th>
  </tr>
  </tfoot>
  <tbody>
  <tr>
    <td>Table Cell 1</td>
    <td>Table Cell 2</td>
    <td>Table Cell 3</td>
    <td>Table Cell 4</td>
    <td>Table Cell 5</td>
  </tr>
  <tr>
    <td>Table Cell 1</td>
    <td>Table Cell 2</td>
    <td>Table Cell 3</td>
    <td>Table Cell 4</td>
    <td>Table Cell 5</td>
  </tr>
  <tr>
    <td>Table Cell 1</td>
    <td>Table Cell 2</td>
    <td>Table Cell 3</td>
    <td>Table Cell 4</td>
    <td>Table Cell 5</td>
  </tr>
  <tr>
    <td>Table Cell 1</td>
    <td>Table Cell 2</td>
    <td>Table Cell 3</td>
    <td>Table Cell 4</td>
    <td>Table Cell 5</td>
  </tr>
  </tbody>
</table>

</main>
<script type="module">
  import init, * as bindings from "../../reactive-graph-design.js";
  init("../../reactive-graph-design_bg.wasm");
  window.wasmBindings = bindings;
</script>
</body>
</html>

